{% extends "Base.html" %}

{% block content %}
    <h1>Ваша корзина, {{ username }}</h1>
    {% for item in carts %}
        <div class="alert alert-dark" role="alert">
            <h2>{{item[3]}}</h2>
            <div>Цена: {{item[5]}} Зарезервировано вами: {{item[4]}} В итоге: {{item[6]}}рублей</div>
            <a href="/delete_from_carts/{{item[0]}}" class="btn btn-danger">Удалить из корзины</a>
        </div>
    {% endfor %}
    {% if carts %}
    <a href="/buy" class="btn btn-success">Купить</a>
    <div>Итог: {{total}}</div>
    {% else %}
    <h3>Пусто :(</h3>
    {% endif %}
{% endblock %}