{% extends "base.html" %}

{% block content %}
    <h1>Signing in</h1>
    {% if invalid %}
        <div class="alert alert-primary" role="alert">
            Invalid format of password or password is not confirmed
        </div>
    {% endif %}
    {% if exists %}
        <div class="alert alert-primary" role="alert">
            This user already exists
        </div>
    {% endif %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username }}<br>
            {% for error in form.username.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password }}<br>
        </p>
        <p>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}