{% extends "base.html" %}

{% block content %}
    <h1>Signing in</h1>
    {% if invalid %}
        <div class="alert alert-primary" role="alert">
            Вы не подтвердили пароль
        </div>
    {% elif empty %}
        <div class="alert alert-primary" role="alert">
            Заполните все поля
        </div>
    {% endif %}
    {% if exists %}
        <div class="alert alert-primary" role="alert">
            Этот пользователь уже есть
        </div>
    {% endif %}
    <form action="" method="post" novalidate>
        <p>
            {{ form.username.label }}<br>
            {{ form.username }}<br>
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password }}<br>
        </p>
        <p>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}